* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  list-style: none;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
  color: #fff;
  transition: 0.3s ease opacity;
}

.swiper-button-next{
  position: absolute;
  left: 80%;
}
.swiper-button-prev{
  position: absolute;
  left: 20%;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ff0;
}

.swiper-container:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-container:hover .swiper-button-next {
  opacity: 1;
}


.background-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}





.loading-spinner {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.background-image.loaded .loading-spinner {
  display: none;
}


.swiper-pagination-bullet {
  background-color: #fff;
  width: 12px;
  height: 12px;
  opacity: 0.7;
  transition: background-color 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #ff0;
  transform: scale(1.4);
  opacity: 1;
}


.header {
  box-shadow: 1px 1px 1px 1px rgba(76, 68, 68, 0.93);
  background-image: url("./assests/7247787-4k-gaming-background.jpg");
  object-position: top;
}

.header .second li :hover {
  fill: green;
}

.header .second li.active * {
  fill: green;
}

.header .second svg {
  fill: aliceblue;
}

.header .third {
  display: none;
}

#searchbtn {
  color: aliceblue;
  font-weight: 700;
  outline: 1px solid blue;
  transition: 0.3s ease;
}

.menuButton {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13%;
  width: 3.5em;
  height: 3.5em;
  transition: all .3s;
  cursor: pointer;
}

.menuButton:hover,
#searchbtn:hover {
  transform: scale(1.05);
}

.menuButton:active,
#searchbtn:active {
  scale: 0.95;
}

.menuButton span {
  width: 30px;
  height: 4px;
  background: aliceblue;
  border-radius: 100px;
  transition: 0.3s ease;
}

#offcanvasExample {
  background-image: url("./assests/oZCrvS.jpeg");
  color: aliceblue;
}

.local_header_textbox {
  border-radius: 10px;
  background-color: aliceblue;
  width: 40vw;
  height: 5.5vh;
  padding: 5px;
  outline: none;
  border: none;
  color: black;
}

.first {
  margin-left: 10px;
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;
}

.header .second {
  width: 30%;
  display: flex;
  flex-wrap: nowrap;
}

.offcanvas-body #menu li {
  color: aliceblue;
  width: max-content;
  position: relative;
}

.offcanvas-body #menu li::before {
  bottom: 0;
  content: "";
  position: absolute;
  width: 0;
  border-bottom: 2px solid rgb(240, 240, 240);
  transition: 0.3s ease;
}

.offcanvas-body #menu li:hover::before {
  color: rgb(46, 142, 158);
  width: 100%;
}

.offcanvas-body #menu li:hover {
  color: rgb(46, 142, 158);
}

.offcanvasfollow {
  width: max-content;
  display: flexbox;
  color: aliceblue;
  margin-bottom: -20px;
}

.offcanvasfollow p {
  transform: translate(30px, -20px);
  border-bottom: 2px solid rgb(46, 142, 158);
  width: 0;
  transition: 0.3s ease;
}

.offcanvasfollow:hover p {
  border-bottom: 2px solid rgb(240, 240, 240);
  width: 100%;
}

.offcanvasfollow:hover {
  color: rgb(46, 142, 158);
}

.local-swiper-slide {
  background-size: cover;
  background-position: center;
}



.local-list-container {
  padding: 20px 10px;
  background-color: #212121;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.local-list-container .games-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 250px;
  gap: 20px;
}

@media (max-width: 768px) {
  .local-list-container {
    grid-template-columns: 1fr;
  }

  .local-list-container .games-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 200px;
  }
}

@media (max-width: 480px) {
  .local-list-container .games-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 150px;
  }
}

.local-list-container .games-container .game {
  border-radius: 30px;
  box-shadow:
    10px 10px 10px rgb(25, 25, 25),
    -2px -5px 10px rgb(60, 60, 60);
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.4s ease scale;
}

.game::after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: rgba(240, 240, 240, 0.2);
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: 0.4s ease;
}

.local-sidebar {
  position: sticky;
  top: 120px;
  color: aliceblue;
  overflow-y: scroll;
}

.local-sidebar::-webkit-scrollbar {
  display: none;
}

.local-sidebar ul {
  font-size: 1em;
  font-weight: 500;
  margin-top: 50px;
}

.local-sidebar ul li {
  font-weight: 300;
  width: max-content;
  position: relative;
  cursor: pointer;
}

.genre-active {
  color: rgb(25, 187, 16);
}

.gameinfo {
  z-index: 9;
  width: 100%;
  min-height: 0px;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -100%;
  left: 5px;
  transition: 0.4s ease;
  padding-left: 5%;
}

.gameinfo .gamename {
  font-size: 1em;
}


.gameinfo span {
  text-align: left;
  color: black;
  font-weight: 400;
}

.star-icon {
  margin-top: -3px;
  margin-left: 5px;
}



.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #212121;
  color: #fff;
  padding: 20px 0;
}

.footer h5 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.footer p {
  font-size: 0.9em;
  line-height: 1.5;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer ul li a:hover {
  color: #0077f7;
}

.footer .row.mt-3 {
  border-top: 1px solid #444;
  padding-top: 10px;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }

  .local-list-container .games-container .game .gameinfo {
    font-size: 1em;
  }

  .local-list-container .games-container .game .gameinfo span {
    font-weight: 500;
  }

  .local-list-container .sidebar .local-sidebar {
    font-size: 1.2em;
  }

}

@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }

  .social h1 {
    margin: 0px;
  }
}

@media (max-width: 950px) {
  .local-list-container .games-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 180px;
    gap: 30px;
  }


  .footer .col {
    width: 33%;
  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }

}

@media(min-width:700px) {
  .local-list-container .games-container .game:hover::after {
    backdrop-filter: blur(10px);
    bottom: -5px;
  }

  .local-list-container .games-container .game:hover {
    scale: 1.05;
  }

  .local-list-container .games-container .game:hover .gameinfo {
    bottom: 5%;
  }

}

@media (max-width: 700px) {
  .local-list-container .games-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 180px;
    gap: 20px;
  }

  .game::after {
    width: 110%;
    height: 40%;
    left: 0;
    backdrop-filter: blur(10px);
    bottom: -5px;
  }

  .gameinfo {
    align-items: center;
    padding-right: 20%;
    bottom: 2%;
    font-size: 2.2vw;
  }

  .gameinfo :not(.gamename) {
    display: none;
  }

}

@media (max-width: 500px) {
  .local-list-container .games-container {
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    grid-auto-rows: 110px;
    gap: 35px;
  }

  .local-list-container .games-container .game {
    border-radius: 8px;
  }

  .footer .col {
    width: 50%;
  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }


  .gameinfo {
    align-items: center;
    padding-right: 20%;
    bottom: 4%;
    font-size: 2.2vw;
  }


}

@media (max-width: 340px) {
  .local-list-container .games-container {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: 100px;
    gap: 10px;
  }

  .local-list-container .games-container .game {
    border-radius: 5px;
  }


  .footer .col {
    width: 100%;
  }

}

@media (min-width:750px) {

  .header {
    justify-content: end;
  }
}


@media (max-width:680px) {
  .header .second {
    display: none;
  }

  .header .third {
    display: flex;
  }

  .header .third> :nth-child(1) {
    visibility: hidden;
  }
}

@media(max-width:500px) {
  .header .first> :nth-child(2) {
    display: none;
  }

  .header .third> :nth-child(1) {
    visibility: visible;
  }
}


.local-slider-container {
  width: 100%;
  height: 60vh;
  background: aliceblue;
  overflow: hidden;
  position: relative;
}